{% extends 'base.html.twig' %}

{% block title %}Car Website!{% endblock %}

{% block body %}
    <h2>Donnez votre avis! ✅</h2>
    {% for car in cars %}
        <h4> {{car}} </h4>
        <p>
            <a href="{{ path('car',{id:car.id })}}"> View </a>
        </p>
    {% endfor %}
{% endblock %}
